



.nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100%;
  /* height: 80px; */
  padding: 0 300px;
  margin-top: 80px;
}

.title-nav{
  line-height: 80px;
}

.nav-links{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-link-item{
  text-decoration: none;
  line-height: 40px;
  margin: 0 10px 0 0;
}