
.fade-in{
  animation: fadeIn linear 0.3s;
}
@keyframes fadeIn {
  from{ opacity: 0; }
  to{ opacity: 1;}
}

.appearWhenScroll{
  view-timeline-name: --text;
  view-timeline-axis: block;

  animation-timeline: --text;
  animation-name: appear;

  animation-range: entry 5% cover 10%;
  animation-fill-mode: both;
}

@keyframes appear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.appearAndIncrementWidth{
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

@keyframes show {
  from{
    opacity: 0;
    scale: 25%;
  }
  to{
    opacity: 1;
    scale: 100%;
  }
}