@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  cursor: url('/images/ui/rocket.svg'), auto;
}

.section-main {
  height: 100vh;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("/images/wallpaper2.jpg");
  background-repeat: no-repeat;
  padding: 100px 0px;
  /* background: #191919; */

}


.circular-btn {
  border-radius: 10px;
}

.circular-btn:hover {
  background-color: #274494;
}